*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: black;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(212, 208, 208);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
   list-style: none;
   cursor: pointer;
   
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 900;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 700;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    gap:30px
    
}
nav ul li a:hover{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 900;
}   
.search-file{
   display: flex;
   gap:5px
}
input{
    padding: 4px 10px;
}
.hero-section{
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
.hero-left-side h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;

}
.hero-left-side h1 span{
    color:rgb(18, 155, 155); 
    font-weight: 900;
    font-size: 2.5rem;
}
.hero-left-side p{
    font-weight:500;
}
.hero-left-side p span{
    color:rgb(18, 155, 155) ;
    font-weight: 700;
    font-size: 20px;
}
.hero-right-side{
    display: flex;
    /* width:40%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-right-side-btns{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-right-side img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
footer ul li a i:hover{
   
    color:rgb(18, 155, 155) ;
    text-decoration: underline;

}